<p  class="bg-green-500">hi</p>
<p class="bg-red-700">hello</p>
<p class="bg-red-700">hello</p>
<p class="bg-red-700">hello</p>
<p class="bg-red-700">hello</p>
<p class="bg-red-700">hello</p>
<p> hi </p>
<p> hi </p>
<p> hi </p>
<p> hi </p>
